<% provide(:title, @user.name) %>
<div class="row">
  <div class="col-md-4">
    <h1><%= @user.name %></h1>
    <%= image_tag @user.profile_picture.url(:medium) %>
    <% if current_user?(@user) %>
      <%= render "shared/item_form" %>
    <% end %>
  </div>
<!--   scroll this div, make the rest fixed -->
  <div class="col-md-8">
    <% if @items.any? %>
      <ul>
        <% @items.each do |item| %>
<!--         Make Links -->
          <li><%= item.title %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
