<hr>
<div class="row">
  <div class="col-md-6">
    <p>
      &copy; <%= Time.now.year %> Look at what I just bought!
    </p>
  </div>
  <div class="col-md-6">
    <p class="pull-right">
      By: <a href="http://mttrd.com">Matt Reed</a>
    </p>
  </div>
</div>
